/* #D6ff00 #FFFFFF #23212f  #05030F*/

body {
    color: #f0f0f0;
}

.menu {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.menu a {
    color: #c4c2c0;
}

.menu-contato a {
    font-size: 1.25em;
    color: #c4c2c0;
    font-weight: bold;
    margin: 0 15px;
    padding: 15px 14px;
    cursor: pointer;
    background: rgba(35, 33, 47, 0.486);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: 0.5s ease-in-out;
    margin-left: 5rem;
}

.menu-contato a::before {
    content: '';
    position: absolute;
    margin-top: 30px;
    width: 0px;
    height: 1px;
    background-color: #3e6bff;
    transition: 0.5s ease-in-out;
}

.menu-contato a:hover::before {
    width: 80%;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;

}

.menu-nav ul li {
    padding: 0 50px;

    list-style-type: none;
    font-weight: bold;
    margin: 0 30px;
    padding: 15px 10px;
    transition: all 400ms ease;
    border-bottom: 1px solid #00000000;
}

.menu-nav a {
    font-size: 1.25em;
    display: block;
    padding: 10px;
}

.menu-nav ul li:hover {
    cursor: pointer;
    border-bottom: 1px solid #2b07db;
}




/*           Sobre           */


.sobre {
    background-color: #2b07db;
    border-top: 2px solid #c4c2c0;
    border-bottom: 2px solid #c4c2c0;
    max-width: 100%;
    margin: 15px auto;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
}

.sobre-info {
    flex: 1 1 300px;
    margin: -30px 80px;
    padding-left: 125px;
}

.sobre-info h1 {
    font-size: 5em;
    margin-bottom: .2em;
}

.sobre-info p {
    font-weight: bold;
    font-size: 1.90em;
    line-height: 1.4;
    margin-bottom: 1em;
    margin-top: -10px;
    padding-left: 25px;
}

.sobre-img {
    flex: 1 125px;
    margin: 0 10px;
}

.sobre-img img {
    border-radius: 50%;
    max-width: 270px;
    object-fit: cover;
}

.escrita {
    display: inline-block;
}

.sobre p {
    border-right: 2.5px solid #008000;
    white-space: nowrap;
    overflow: hidden;
    animation:
        escrevendo 3.5s steps(35, end),
        cursor .5s infinite;

}

@keyframes escrevendo {
    from {
        width: 0
    }

    to {
        width: 50%
    }
}

/* The typewriter cursor effect */
@keyframes cursor {
    0% {
        border-color: transparent
    }

    50% {
        border-color: #008000
    }
}

.btn-pular {
    display: block;
    background-color: #008000;
}

/*                  Texto                    */
.section-name {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: column
}

.sobre-mim {
    color: #008000;
    margin: 0 auto;
}

.texto-sobre-mim {
    padding: 0 12px;
}

/*                  Projetos                    */
.projetos {
    max-width: 980px;
    margin: 60px auto;

}

.projetos h3 {
    font-size: 16px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
}

.projetos-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.projetos-item {
    flex: 1 1 0;
    margin: 10px;
    background-color: #aca7a7;
    min-width: 175px;
}

.projetos-item img {
    width: 100%;
}

.projetos-item h2 {
    font-size: 1rem;
    color: #ffffff;
    background-color: #aca7a7;
    padding: 5px 20px;
    text-align: center;
}

.purple {
    border-top: 8px solid #2b07db;
}

.pink {

    border-top: 8px solid #db07d0;
}

.blue {

    border-top: 8px solid #4e2418;
}

/*Preco*/

.preco {
    background: #f7f7f7f7;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: -5rem;
}

.preco-item {
    flex: 1;
    border: 4px solid #ffffff;
    padding: 20px;
    margin: 10px;
    min-width: 270px;
}

.preco-item h2 {
    font-size: 3em;
    color: #a4a4a4;
    text-align: center;
    margin-top: 20px;

}

.preco-item span {
    max-width: 300px;
    margin: 20px auto;
    display: block;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    padding: 10px 0 5px 0;
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
}

.preco-item sup {
    font-size: 1.5rem;
}

.preco-item ul {
    max-width: 300px;
    margin: 20px auto;
    font-size: 1.25em;
    font-style: italic;
    color: #7c7c7c;

    list-style-type: none;

}

.preco-item li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.preco-item li::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background-color: #2b07db;
    border-radius: 50%;
}

.preco-item a {
    max-width: 300px;
    display: block;
    margin: 20px auto;
    border: 4px solid;
    color: #222222;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.25em;
    padding: 15px 0;
    text-align: center;
}

@media (max-width: 800px) {
    .preco {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 945px) {
    .sobre-img {
        flex: 0;
        margin: 0 auto;
    }

    .sobre-info h1 {
        font-size: 2em;
        max-width: 270px;
    }
}
@media (max-width: 766px){
    .sobre-info{
        flex:0;
        margin: 0 auto;
        padding-left: 15px;
    }
}